.white{
    font-size: 20px;
    color: #fff;
        font-weight: 800;
}

.block{
    margin-top: 30px;
}

.blocArticle{
    height: 350px;
    display: inline-block;
    padding-top: 20px;
    position: relative;
    margin-right: 12px;
    margin-left: 12px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.blocArticle:hover{
  
    transform: scale(1.03);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
   
}

.inlineblock{
    display: inline-block;
}

.favorite{
    width: 20px;
}

.profile{
    width: 15px;
}

.blocArticle div div span{
    font-size: 20px;
}

.bouttonPub{
    display:inline-block;
    background-color: #ff8f00; 
    text-align: center;
    border: solid 1px #ff8f00;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;*/
}

.bouttonPub a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.bouttonPub span{
    padding-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.infoCata{
    margin-top: -45px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 20px;
}

.inlineblock span{
    font-size: 15px;
}

.footer{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    background-color: #0E364A;
}
