.article{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px 0px #cfcfcf;
}

.img{
    background-color: aquamarine;
    width: 100%;
}

.black{
    color: black;
}

.inlineblock .black{
    font-size: 20px;
}

.articleText{
     margin-top: 50px;
}

.description{
    color:#ff8f00;
    text-align: left;
}

.details{
height: 800px;
overflow: auto;

}
